.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#navbar{
  width: 100vw;
  height: 5rem;
  background-color: rgb(221, 221, 221);
  display: flex;
  justify-content: start;
}

#navbar-logo{
  height: 2rem;
}

#login-forms{
  margin: 20vh auto;
}

