body{
  background-color: #f5f5f7 !important;
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1, h2, h3, h4{
  font-family: Helvetica, Arial, sans-serif;
}

h2.dashboard-heading{
  font-weight: bold;
  font-size: 1.75rem;
  margin-bottom: 3rem;
}

h4.nav-headers{
  font-size: .75rem;
  letter-spacing: 1px;
  color: #bbb;
  margin-bottom: 1rem;
}

#dashboard-wrapper{
  display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas: "sidebar dashboard";
}

#navbar{
  grid-area: sidebar;
}

#app-dashboard{
  grid-area: dashboard;
  margin-left: 2rem;
}

#navbar{
  height: 100vh;
  box-shadow: -1px 0px 1px rgb(225, 225, 225) inset;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

#navbar-logo-container{
  display: flex;
  justify-content: left;
  align-content: center;
}

  #navbar-logo{
    height: 2rem;
  }

#navigation-links-container{
  margin-top: 3rem;
}

#navigation-links{
  display: flex;
  flex-direction: column;
}

#navigation-links a {
  color: #251d2e95;
  text-decoration: none;
  margin-top: .5rem;
  padding: 7px;
  transition: 500ms;
}

#navigation-links a:hover {
  color: #251d2e;
  background-color: #f4f4fe;
  padding: -7px;
  border-radius: 5px;
  transition: 200ms;
}

#static-account-container{
  position: fixed;
    top: 25px;
    right: 40px;
  display: flex;
}

#profile-icon{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #251d2e50;
  color: white;
}

.horizontal-account-break{
  height: 30px;
  border: solid rgb(255, 255, 255, .2) 1px;
  margin: 0px 20px;
}

#logout-button{
  position: fixed;
  bottom: 25px;
}


.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.form {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-label {
  font-size: 14px;
  margin-bottom: 10px;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 16px;
}

.form-submit-button {
  padding: 10px 20px;
  background-color: #665BF7;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: 200ms;
}

.form-submit-button:hover{
  background-color: #251D2E;
  transition: 200ms;
}

.restaurants-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.restaurant-card-TEST{
  display: flex;
    align-items: center;
    justify-content: center;
  /* border: solid black 1px; */
  background-color: white;
  width: 200px;
  height: 100px;
  border-radius: 5px;
}


