body{
  background-color: #f5f5f7 !important;
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1, h2, h3, h4{
  font-family: Helvetica, Arial, sans-serif;
}

.dashboard-heading{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2rem;
}

#add-button{
  margin: -2px 1rem 10px;
}

.dashboard-heading h2{
  font-weight: bold;
  font-size: 1.75rem;
}


h4.nav-headers{
  font-size: .75rem;
  letter-spacing: 1px;
  color: #bbb;
  margin-bottom: 1rem;
}

#dashboard-wrapper{
  display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas: "sidebar dashboard";
}

#navbar{
  grid-area: sidebar;
  position: fixed;
  width: 250px;
}

#app-dashboard{
  grid-area: dashboard;
}

#navbar{
  height: 100vh;
  box-shadow: -1px 0px 1px rgb(225, 225, 225) inset;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

#navbar-logo-container{
  display: flex;
  justify-content: left;
  align-content: center;
}

  #navbar-logo{
    height: 2rem;
  }

#navigation-links-container{
  margin-top: 3rem;
}

#navigation-links{
  display: flex;
  flex-direction: column;
}

.nav-icons{
  filter: opacity(40%);
  height: 20px;
  width: 20px;
  margin-right: 12px
}

#navigation-links a {
  color: #251d2e95;
  text-decoration: none;
  margin-top: .5rem;
  padding: 10px;
  transition: 500ms;
}

#navigation-links a:hover{
  color: #251d2e;
  background-color: #f4f4fe;
  padding: -7px;
  border-radius: 5px;
}

#static-account-container{
  position: fixed;
    top: 25px;
    right: 3rem;
  display: flex;
}

#profile-icon{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #251d2e50;
  color: white;
}

.vertical-account-break{
  height: 30px;
  border-right: dotted rgb(255, 255, 255, .2) 5px;
  margin: 0px 20px;
}

#logout-button{
  position: fixed;
  bottom: 25px;
}


.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.form {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-label {
  font-size: 14px;
  margin-bottom: 10px;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 16px;
}

.form-submit-button {
  padding: 10px 20px;
  background-color: #665BF7;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: 200ms;
}

.form-submit-button:hover{
  background-color: #251D2E;
}

.page{
  display: flexbox;
  margin: 2rem 3rem;
}

.page-container{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}

.menu-page-container{
  display: flex;
  flex-direction: column;
}

.meal-plan-table{
  background-color: rgba(255, 255, 255, 0.524);
  padding: 2rem;
  border-radius: 10px 10px 10px;
}

.restaurant-card{
  display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  border: dotted #251d2e2d 2.5px;
  background-color: #f5f5f7;
  margin: 0rem 2rem 1rem 0rem;
  padding: 1rem;
  width: 30%;
  min-width: 300px;
  max-width: 500px;
  border-radius: 1rem;
  transition: 200ms;
  position: relative;
}

#live.restaurant-card{
  background-color: white;
}

.assigned-restaurant-container{
  display: flex;
  flex-direction: column;
}

.assigned-restaurant-images{
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
}

img.assigned-restaurant-icon, #assign-restaurant-button{
  width: 2.5rem;
  border-radius: 50%;
  margin-right: -1rem;
}
img.assigned-restaurant-icon {
  aspect-ratio: 1/1;
  border: solid #f5f5f7 3px;
}

#edit-button{
  position: absolute;
  opacity: 50%;
  bottom: 5px;
  right: 5px;
  margin: 12px;
}

#status-badge{
  position: absolute;
  top: 10px;
  right: 1rem;
}

.restaurant-card:hover{
  box-shadow: 0px 2px 6px #e0e0e0;
}

.meal-plan-card{
  border: dotted #251d2e2d 2.5px;
  border-radius: 1rem;
    background-color: #f5f5f7;
    margin: 0rem 2rem 1rem 0rem;
    padding: 1rem;
}

.card-headings{
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

#restaurant-icon{
  aspect-ratio: 1/1;
}

#restaurant-menu-icon{
  height: 2.5rem;
  border-radius: 10%;
  margin-right: 1rem;
}

div.restaurant-info{
  display: flex;
  flex-wrap: wrap;
}

div.restaurant-info > span {
  margin-top: 1rem;
}

span.restaurant-description{
  font-size: .9rem;
  color: #251d2e9a;
}

span.restaurant-address {
  font-size: .8rem;
  color: #665BF7;
}

.horizontal-line-break{
  width: 100%;
  border-bottom: solid rgb(221, 221, 221) 1px;
  margin: 1rem 0rem 2rem;
}

#restaurant-preview-container{
  display: flex;
  justify-content: center;
}

.image-placeholder, .icon-placeholder{
  margin-top: 1rem;
    padding: 5px;
    border: dashed #d7d7d7 2px;
  background-color: #f2f2f2;
    color: #bcbcbc;
  height: 5rem;
}

.image-placeholder{
  border-radius: 5px;
  width: 100%;
  height: 5rem;
  text-align: center;
}

.icon-placeholder {
  height: 5rem;
  border-radius: 50%;
  aspect-ratio: 1/1;
  text-align: center;
}

.restaurant-image-preview, .restaurant-icon-preview{
  object-fit: cover;
  margin-top: 1rem;
  border: dashed #bdbdbd 2px;
}

.restaurant-image-preview{
  width: 100%;
  aspect-ratio: 16/9;
}

.restaurant-icon-preview {
  width: 25%;
  height: 25%;
  aspect-ratio: 1/1;
  border-radius: 50%;
}